@media(min-width: 1301px) {
  .header__burger {
    display: none;
  }
}

@media(max-width: 1300px) {





  /* H E A D E R */
  .header {
    margin-bottom: 40px;
  }

  .nav__list {
    position: absolute;
    display: block;
    left: -420px;
    top: 0;
    min-width: 420px;
    height: 100vh;
    z-index: 99;
    padding: 170px 106px 229px 50px;
    background-color: white;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
    overflow-y: auto;
    visibility: hidden;
    transition: visibility 0.5s, transform 0.5s;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
  }

  .nav__link {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  .nav__list--active {
    visibility: visible;
    transform: translateX(100%);


  }

  .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger__line:nth-child(1) {
    left: 25%;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out;
  }

  .burger--active .burger__line:nth-child(3) {
    bottom: auto;
    left: 25%;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out;

  }

  .stop-scroll {
    overflow: hidden;
  }



  .burger {
    padding-right: 23px;
    position: absolute;
    display: block;
    border: none;
    background-color: transparent;
    z-index: 100;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    background-color: var(--black-color);
    border-radius: inherit;
    transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top: 9px;
  }

  .burger__line:nth-child(3) {
    bottom: 9px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  /* .header__logo img {
    display: none;
  }


  .header__logo img {
    background-image: url(//img/Logo_1.svg);
  }
  */

  .header__logo {
    padding-left: 36px;
  }

  .nav__btn {
    padding-top: 5px;
  }

  /* H E R O */

  .hero {
    margin-bottom: 36px;
  }

  .slider-content {
    padding-top: 159px;
    padding-left: 77px;
    width: 100%;
    /* background-image: url(../img/balcon_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
  }

  .hero__title {
    margin: 0;
    margin-bottom: 19px;
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
  }

  .hero__descr {
    width: 89%;
    margin-bottom: 58px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .hero__btn {
    margin-bottom: 60px;
    padding: 25px 43px;
  }

  /* A B O U T */

  .about {
    margin-bottom: 45px;
  }



  .about__descr {
    width: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }

  .about__bottom {
    flex-direction: column;
  }


  .about__left {
    width: 100%;
    background-image: url(../img/Rectangle_2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 442px;
    margin-bottom: 32px;
  }

  .inner__descr {
    margin-right: 214px;
  }

  .inner__right {

    background-image: url(../img/Frame\ 16.svg);
    background-repeat: no-repeat;
    background-position: 10.3% 51%;
    background-size: 21%;
    border: 1px solid #CACACA;
    border-radius: 32px;
    padding: 66px 121px 65px 316px;
    margin-bottom: 32px;
  }

  .inner__right_bot {
    background-image: url(../img/Frame\ 12.svg);
    background-repeat: no-repeat;
    background-position: 10.3% 51%;
    background-size: 21%;
    border: 1px solid #CACACA;
    border-radius: 32px;
    padding: 63px 121px 65px 316px;
    margin-bottom: 32px;
  }




  /* H O W */

  .how {
    margin-bottom: 76px;
  }

  .how__card {
    width: 100%;
  }

  .how__left_descr {
    width: 89%;
    margin-bottom: 24px;
  }

  .how__right {
    padding-top: 10px;
  }

  .how__item:not(:last-child) {
    margin-right: 75px;
    margin-left: -6px;
  }

  .how__list {
    margin-bottom: 48px;
  }




  /* F A Q */

  .faq {
    margin-bottom: 81px;
  }

  .faq__title {
    width: 100%;
    padding-right: 171px;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
  }

  .two__faq {
    padding: 32px 0;
  }

  .treee__faq {
    padding: 37px 0;
  }

  .four__faq {
    padding: 29px 0;
  }


  /* F O O T E R */

  .footer__titlte {
    margin-bottom: 23px;
  }

  .footer__centr {
    padding-left: 136px;
  }


  .footer__nav {
    padding-top: 13px;
    margin-bottom: 90px;
  }


  .form__input {
    max-width: 542px;
  }

  .footer__item {
    margin-bottom: 23px;
  }

  .form__textarea {
    max-width: 542px;
  }

  /*.footer__btn {
    height: 59px;
    width: 241px;
  } */

  .footer__right {
    display: none;
  }









}

@media(max-width: 992px) {


  /* H E A D E R */



  .header {
    height: 69px;
    margin-bottom: 46px;
  }

  .nav__list {
    position: absolute;
    display: block;
    left: -420px;
    top: 0;
    min-width: 420px;
    height: 100vh;
    z-index: 99;
    padding: 170px 106px 229px 50px;
    background-color: white;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
    overflow-y: auto;
    visibility: hidden;
    transition: visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
  }

  .nav__link {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  .nav__list--active {
    visibility: visible;
    transform: translateX(100%);
  }

  .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger__line:first-child {
    left: 25%;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out;
  }

  .burger--active .burger__line:last-child {
    bottom: auto;
    left: 25%;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out;

  }





  /* H E R O */

  .slider-content {
    padding: 0;
    padding-bottom: 101px;
    padding-left: 40px;
    padding-top: 159px;
    border-radius: 24px;
  }

  .hero__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
  }

  .hero__descr {
    margin-bottom: 52px;
    width: 96%;
  }


  /* A B O U T */



  .about__left {
    background-image: url(../img/Rectangle_2_768.png);
    border-radius: 24px;
    padding-top: 453px;
  }



  .inner {
    padding-top: 36px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 65px;
    width: 100%;
    border-radius: 24px;
  }

  .inner__descr {
    margin: 0;
    margin-right: 57px;
  }


  .inner__link {
    margin-top: 25px;
  }


  .inner__right {
    background-position: 6.3% 51%;
    background-size: 18%;
    padding: 35px 28px 33px 210px;
  }

  .inner__right_bot {
    background-position: 6.3% 51%;
    background-size: 18%;
    padding: 35px 28px 33px 210px;
    margin-bottom: 37px;
  }




  /* H O W*/
  .how {
    margin-bottom: 49px;
  }

  .how__item {
    white-space: nowrap;
  }

  .how__list {
    justify-content: space-between;
    margin-bottom: 36px;
  }



  .how__item:not(:last-child) {

    margin-left: -3px;
  }

  .how__card {
    flex-direction: column-reverse;
  }

  .how__right {
    border-radius: 24px;
    margin-bottom: 36px;

  }

  .how__left_descr {
    width: 100%;
  }



  /* F A Q */

  .faq {
    margin-bottom: 111px;
  }

  .faq__title {
    padding: 0;
    padding-right: 101px;
  }



  .two__faq {
    padding: 30px 0;
  }



  .tree__faq {
    padding: 30px 0;
  }

  .tree__faq svg {
    margin-top: -32px;

  }

  .four__faq {
    padding: 30px 0;
  }



  .five__faq {
    padding: 30px 0;
  }

  .five__faq svg {
    margin-top: -32px;
  }


  /* F O O T E R */

  .footer {
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding-bottom: 0;
  }

  .flex {
    flex-direction: column-reverse;
  }

  .footer__nav {
    display: none;
  }

  .footer__centr {
    padding: 0;
  }

  .footer__item {
    margin-bottom: 24px;
  }


}


@media(max-width: 570px) {

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }


  /* H E A D E R */

  .header {
    margin: 0;
    margin-bottom: 30px;
    border-radius: 0px 0px 16px 16px;
  }

  .nav__list {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    min-width: 320px;
    height: 100vh;
    z-index: 99;
    padding: 170px 106px 229px 50px;
    background-color: white;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
  }

  .nav__link {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  .nav__list--active {
    visibility: visible;
    transform: none;
  }

  .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger__line:first-child {
    left: 25%;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out;
  }

  .burger--active .burger__line:last-child {
    bottom: auto;
    left: 25%;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out;

  }

  .search-form {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: -100px;
    opacity: 0;
    padding: 18px 16px 13px 32px;
    min-width: 320px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    border-radius: 24px;
    transition: top .5s, opacity .5s;
  }

  .searh-form_show {
    top: 0;
    opacity: 1;
  }

  .search-form__input {
    min-width: 222px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid var(--gray-color-1);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .search-form__input:focus {
    outline: none;
  }


  /* H E R O */
  .hero {
    width: 100%;
    margin-bottom: 60px;
  }

  .slider-content {
    padding: 0;
    /*background-image: url(../img/balcon_320.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
    border-radius: 16px;
    display: flex;
    flex-direction: column;

  }

  .hero__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    padding-top: 59px;
    text-align: center;
    margin-bottom: 6px;
  }

  .hero__descr {
    margin: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    padding-left: 10px;
    text-align: center;
    margin-bottom: 32px;

  }

  .hero__btn {
    padding: 12.5px 38.25px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 60px;
    align-self: center;
    border-radius: 8px;
  }

  /* A B O U T */

  .about {
    margin-bottom: 21px;
    width: 100%;
  }

  .main__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .about__descr {

    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 10px;
  }






  .about__left {
    padding: 0;
    background-image: url(../img/Rectangle_2_320.png);
    box-sizing: border-box;
    min-height: auto;
    background-position: top;
    background-size: 100%;
    padding-top: 60%;

  }

  .inner {
    padding: 0;
    margin-top: 10px;
    background-color: transparent;
    flex-direction: column;
  }

  .inner__descr {
    margin: 0;
    padding-top: 35px;
    color: var(--black-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;

  }

  .inner__link {
    margin: 0;
    margin-top: 13px;
    margin-right: auto;
    padding: 7px 31px;
    border-radius: 8px;
    color: var(--yellow-color-1);
  }

  .inner__right {
    padding: 0;
    padding-top: 59px;
    background-position: top left;
    background-size: 64px;
    border: none;
  }


  .inner__right h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .inner__right_descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .inner__right_bot {
    padding: 0;
    padding-top: 59px;
    background-position: top left;
    background-size: 64px;
    border: none;
  }

  .inner__right_bot h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .inner__right_bot_descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }


  /* H O W */

  .how {
    margin-bottom: 58px;
  }

  .how__title {
    margin: 0;
    margin-bottom: 16px;
  }

  .how__list {
    justify-content: space-between;
    margin-bottom: 17px;
  }

  .how__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .how__item:not(:last-child) {
    margin: 0;
    margin-left: -8px;
  }

  .how__right {
    padding: 0;
    border-radius: 16px;
    margin-bottom: 12px;
  }

  .how__left h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 8px;
  }

  .how__left_descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .how__btn_left {
    padding: 12px 48px;
    margin-right: 10px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  .how__btn_right {
    padding: 12px 35px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--black-color);
  }



  /* F A Q */

  .faq {
    width: 100%;
    margin-bottom: 60px;
  }

  .faq__main_title {
    margin-bottom: 17px;
  }



  .faq__title {
    padding: 0;
    padding-right: 38px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
  }



  .faq__list {
    margin: 0;
  }

  .faq__item_text{
    max-height: 100%;

  }


  .one__faq {
    padding: 30px 0;
  }
  .one__faq h3 {
    padding-right: 23px;
  }

  .one__faq svg {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -16px;
  }

  .two__faq svg {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -16px;
  }

  .tree__faq svg {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -16px;
  }

  .four__faq svg {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -16px;
  }

  .five__faq svg {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -16px;
  }



  /* F O O T E R */


  .footer {
    padding: 0;
    padding-top: 34px;
  }

  .footer__title {
    margin-bottom: 20px;
  }

  .form__input {
    width: 100%;
    padding: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
  }


  .form__textarea {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    padding: 14px 183px 71px 20px;
  }

  .footer__centr_bot {
    flex-direction: column;
  }

  .footer__centr {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 23px;
  }


  .footer__btn {
    margin-left: 53px;
    margin-right: 53px;
    border-radius: 8px;
    padding: 12px 28px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__item:not(nth-child) {
    margin-bottom: 25px;
  }



  .footer__left {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }


  .footer__bot_svg {
    margin-bottom: 15px;

  }

  .footer__icon {
    width: 40px;
    height: 40px;
    margin-right: 14px;
  }


}

@media (min-width:1921px) {
  .header {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
  }

  .footer {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
  }
}
